@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 20px;
  margin-left: 20px;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main, header {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  .col-2 {
    width: 16.66667%; }
  .col-1 {
    width: 8.33333%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-8 {
      width: 66.66667%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-4 {
      width: 33.33333%; }
    .col-sm-1 {
      width: 8.33333%; } }

.offset-12 {
  margin-left: 100%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-3 {
  margin-left: 25%; }

.button {
  background-color: #555;
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%; }

.card {
  margin-bottom: 20px; }

.card > * {
  margin-bottom: 20px; }

.cardlist {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.header--subpage {
  background-image: url(myndir/bg-subpage.jpg);
  height: 500px;
  background-size: cover;
  max-width: 100%;
  display: flex; }
  .header--subpage h1 {
    align-self: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-left: 10px; }

footer ul li {
  text-align: center; }

footer section.row {
  margin-left: 20px; }

footer {
  background-color: #383b3f;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }

footer section:first-of-type:after {
  border-bottom: 1px solid white;
  content: '';
  width: 90%;
  margin: 0 auto;
  margin-top: 20px; }

p {
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif; }
