.button {
  height: auto;
  padding: $gutter*0.5;
  color: #fff;
  cursor: pointer;
  background-color: #808080;
  border: solid #808080 1px;
  border-radius: 4px;
  align-self: center;

  &-panta {
    width: 100%;
  }
}

.button:hover {
  background-color: #464646;
  border-color: #464646;
  transition:background-color 200ms linear, border-color 200ms linear;
}

a {
  text-decoration: none;
}
