.button {
  border: solid grey 1px;
  border-radius: 4px;
  padding: 0.5*$gutter;
  height: auto;
  background-color: grey;
  color: white;
  align-self: center;
  cursor: pointer;

  &-panta {
    width: 100%;
  }
}

.button:hover {
  background-color: #464646;
  border-color: #464646;
  transition:background-color 200ms linear, border-color 200ms linear;
}

a {
  text-decoration: none;
}
