.fotur {
  margin-top: $gutter *4;
}

.fotarod {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: $max-width;
  margin: 0 auto;
  overflow-x: hidden;

}

footer ul li {
  text-align: center;
}

footer div.row {
  margin-left: $gutter;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  background-color: #383b3f;
}

footer div:first-of-type::after {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  content: "";
  border-bottom: 1px solid #fff;

}
