footer ul li {
  text-align: center;
}

footer section.row {
  margin-left: $gutter;
}

footer {
  background-color: #383b3f;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

footer section:first-of-type:after {
  border-bottom: 1px solid white;
  content: '';
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.fotur {
  align-items: center;
  justify-content: space-around;
}
