main {
  overflow: hidden;
}

/* Þegar allar 3 síðurnar fara undir 1200px þá myndast kantar sitt hvoru megin við
 hana og nav barið ruglast aðeins. Ég held það tengist html.grid eitthvað
 en það má endilega kíkja á þetta. */

/* Forsíðumynd á forsíðuni. */
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.header--frontpage {
  display: flex;
  max-width: 100%;
  background-image: url(myndir/bg.jpg);
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  justify-content: center;
  text-align: center;

  .heading--items {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    opacity: 0;
    font-size: 21px;
    margin:0 0 $gutter 0;
    animation: 1s fadein 1s ease-in forwards;
  }

  h1 {
    opacity: 0;
    font-size: 48px;
    margin:0 0 $gutter 0;
    font-size: 21px;
    animation: 1s fadein 1s ease-in;
  }

  h1 {
    margin: 0 0 $gutter 0;
    font-size: 48px;
    font-weight: bold;
    animation: 1s fadein 2s ease-in forwards;
  }

  .heading--items > a > button {
    opacity: 0;
    animation: 1s fadein 3s ease-in forwards;
    font-size: 21px;
  }
}

  /* Check box og mynd á miðri forsíðu */
.info {
  display: flex;
  flex-direction: row;
  margin: $gutter*8 0;
}

.info--item {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.item--fact {
  display: flex;
  flex-direction: row;
  margin: 0px;

  .item--text {
    display: flex;
    flex-direction: column;
    margin: 5px;

    h3 {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
    }

    p {
      margin: 2px 0 $gutter*3 0;
      font-size: 16px;
    }
  }

  img {
    width: $gutter*1.5;
    height: $gutter*1.5;
  }
}

/* Umsagnir með mynd */
.reviews {
  display: flex;
  flex-direction: row;
  margin: $gutter 0;
  justify-content: space-around;
}

.reviews--review {
  max-width: $gutter*13;
  margin: $gutter 0;

  img {
    border-radius: 50%;
    max-width: $gutter*13;
    display: block;
    margin: 0 auto;

  }

  h3 {
    font-size: 21px;
    margin: $gutter 0 ;
    text-align: center;
  }

  h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin: 5px;
  }

  h5 {
    font-size: 14px;
    margin: 0;
    text-align: center;

  }
}

/* Eftir hverju ertu að bíða og kaupa takki */
.kaupa {
  display: flex;
  margin-top: $gutter*4;
  flex-direction: column;
  align-items: center;

  h3 {
    font-weight: bold;
  }

  button {
    width: $gutter*8;
    margin: $gutter auto;
    font-size: 24px;

  }
}

/* Síða 600-1199px */
@media (max-width: 1199px) {
  .info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .info--item {
    /* Þarf að skrifa eitthvað hér til að láta info--item
    ná yfir 12 colums en ekki 6. */
  }

  .reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .reviews--review:nth-child(3) {
    margin: $gutter $gutter*10;
  }
}

/* Síða minni en 600px */
@media (max-width: 599px) {
  .reviews {
    display: flex;
    flex-direction: column;
  }

  .reviews--review {
    margin: $gutter auto;
    text-align: center;
  }

  .reviews--review:nth-child(3) {
    margin: $gutter auto;
  }
}
