main {
  overflow: hidden;
}

/* Þegar allar 3 síðurnar fara undir 1200px þá myndast kantar sitt hvoru megin við
 hana og nav barið ruglast aðeins. Ég held það tengist html.grid eitthvað
 en það má endilega kíkja á þetta. */

/* Forsíðumynd á forsíðuni. */
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 0; }
}

.header--frontpage {
  background-image: url(myndir/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;

.heading--items {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  h2 {
    font-size: 21px;
    margin:0 0 $gutter 0;
    animation: 1s fadein 1s ease-in;
  }

  h1 {
    font-size: 48px;
    margin: 0 0 $gutter 0;
    font-weight: bold;
    animation: 1s fadein 2s ease-in;
  }
  .heading--items > a > button {
    animation: 1s fadein 3s ease-in;
    font-size: 21px;
  }
}




  /* Check box og mynd á miðri forsíðu */
.info {
  display: flex;
  flex-direction: row;
  margin: 8*$gutter 0;
}

.info--item {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.item--fact {
  display: flex;
  flex-direction: row;
  margin: 0px;

  .item--text {
    display: flex;
    flex-direction: column;
    margin: 5px;

    h3 {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
    }

    p {
      margin: 2px 0 3*$gutter 0;
      font-size: 16px;
    }
  }

  img {
    width: 1.5*$gutter;
    height: 1.5*$gutter;
  }
}




/* Umsagnir með mynd */
.reviews {
  display: flex;
  flex-direction: row;
  margin: 1*$gutter 0;
  justify-content: space-around;
}

.reviews--review {
  max-width: 13*$gutter;
  margin: 1*$gutter 0;
  img {
    border-radius: 50%;
    max-width: 13*$gutter;
    display: block;
    margin: 0 auto;

  }
  h3 {
    font-size: 21px;
    margin: $gutter 0 ;
    text-align: center;
  }

  h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin: 5px;
  }

  h5 {
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
}



/* Eftir hverju ertu að bíða og kaupa takki */
.kaupa {
  margin-top: 4*$gutter;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-weight: bold;
  }
  button {
    width: 8*$gutter;
    margin: $gutter auto;
    font-size: 24px;

  }
}


/* Síða 600-1199px */
@media (max-width: 1199px) {
  .info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .info--item {
    /* Þarf að skrifa eitthvað hér til að láta info--item
    ná yfir 12 colums en ekki 6. */
  }

  .reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .reviews--review:nth-child(3) {
    margin: $gutter 10*$gutter;
  }
}


/* Síða minni en 600px */
@media (max-width: 599px) {
  .reviews {
    display: flex;
    flex-direction: column;
  }
  .reviews--review {
    margin: 1*$gutter auto;
    text-align: center;
  }
  .reviews--review:nth-child(3) {
    margin: 1*$gutter auto;
  }
}
