/* Snið á aðal röð */
.kauparod {
  justify-content: space-around;
  text-align: left;
  margin-top: $gutter*3
}

/* Snið innan dálkanna */
.formdalk {
  display: flex;
  margin-bottom: $gutter*3;
  flex-direction: column;

  > * {
    margin-top: $gutter;
  }
}

.legend {
  font-weight: bold;
  text-align: left;
}

/* Snið á inntaki */
.inp {
  display: flex;
  flex-direction: column;

  &-bar {
    width: 100%;
  }

  > * {
    margin-top: $gutter/5;
    margin-bottom: $gutter/5;
  }

  &-hlid {
    > * {
      margin-top: $gutter/3;
      margin-bottom: $gutter/3;
    }

    > div {
      margin-bottom: $gutter/1.5;
    }

    label {
      margin-left: $gutter/2;
    }
  }

  &-timi {
    display: flex;
    justify-content: space-between;

    > select {
      width: 30%;
    }
  }
}

/* Snið á takka-röð */
.takkirod {
  justify-content: center;
}
