/* Snið á aðal röð */
.kauparod {
  justify-content: space-around;
  text-align: left;
}

/* Snið innan dálkanna */
.formdalk {
  display: flex;
  margin: $gutter*3 0;
  flex-direction: column;

  * {
    margin-top: $gutter/4;
    margin-bottom: $gutter/4;
  }

  legend {
    font-weight: bold;
  }
}

/* Snið á inntaki */
.inp {
  display: flex;
  flex-direction: column;

  &-hlid {
    * > label {
      margin-left: 2px;
    }
  }

  &-timi {
    display: flex;
    justify-content: space-between;

    > select {
      width: 30%;
    }
  }
}

 /* Snið á takka-röð*/
.takkirod {
  justify-content: center;
}
