.nav {
  position: fixed;
  display: flex;
  width: 100%;
  height: $gutter*3;
  background-color: #111;
  opacity: 0.8;
  justify-content: center;
}

.nav--bar {
  display: flex;
  width: 100%;
  margin: auto $gutter;
  flex-direction: row;
  justify-content: space-between;
}

.nav--logo {
  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }

  a:visited {
    color: #fff;
  }
}

.nav--links {
  display: flex;
  width: $gutter*7;
  height: 60px;
  font-size: 18px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  a {
    display: flex;
    font-size: 18px;
    color: #fff;
    align-self: center;
  }

  a:visited {
    color: #fff;
  }

  .button {
    display: inline;
    width: $gutter*4;
    height: auto;
    font-size: 18px;
    text-align: center;
    background-color: #808080;
  }

  .button:hover {
    background-color: #111;
    transition: background-color 200ms linear, border-color 200ms linear;
  }
}
