p {
  font-family: "Open Sans", sans-serif;
  line-height: "1.5";
}

.heading--items {
  font-family: 'Roboto Slab', serif;
}

.heading--two {
  font-size: 1.5rem;
}

.heading--three {
  font-size: 1.5rem;
}
